/* LoginPage.module.css */
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 2px solid #000; /* Add border */
  padding: 20px; /* Add padding */
  background-color: #f9f9f9; /* Optional: Add background color */
}
.loginContainer {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 2px solid #000; /* Add border */
  padding: 20px; /* Add padding */
  background-color: #f9f9f9;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  width: 50px; /* Fixed width */
  height: 50px; /* Fixed height */
}

.loginButton i {
  font-size: 24px; /* Adjust icon size */
}
