.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.columnContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 80%;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #333;
  border-radius: 20px;
  box-shadow: 0 0 150px rgba(206, 206, 206, 0.3);
}

.section {
  flex: 1;
  padding: 20px;
  background-color: #444;
  color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.loginSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: left;
}

.sectionRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  width: 50px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  flex-direction: row;
  gap: 5px;
}

.loginMainButton {
  background-color: #311fcc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.loginMainButton:hover {
  background-color: #2b28cc;
}

h2 {
  margin: 5px 0;
}

h3 {
  margin: 2px 0;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #311fcc;
  outline: none;
}

.horizontalLineContainer {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.horizontalLine {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 10px;
}

.horizontalLineText {
  padding: 0 10px;
  color: #555;
  font-size: 14px;
}

.accountText {
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
}

.accountLink {
  color: #311fcc;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

.accountLink:hover {
  color: #2b28cc;
  text-decoration: underline;
}

.forgotPasswordLink {
  color: #555;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
}
